# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.UnityFunctionCallCounter.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\kdw95\Documents\UnityFunctionCallCounter\UnityFunctionCallCounter\.idea\.idea.UnityFunctionCallCounter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
